# The Battle of Neighborhoods by BBogmakSit

## Intoduction/Business Problem

The target group of this project is entrants who are planning to open a small cafe serving coffee and snack. 

The analysis is built on two crowded cities on opposite coasts of US: Manhattan, NY and San Francisco, CA. The aim is help the potential entrepreneurs to decide which city to open the cafe.

Especially since last year, people generally spent time on open air. And sometimes, they grab something to eat or drink before going to  park. Therefore, the focus is the areas close to parks and other open air places. In addition to the proximity to the parks and open air places, the location should be that the number of the potential rivals are less compared to the other options. So that, the potential customers of that area are divided between less number of venues.

## Data

In order to compare Manhattan and San Francisco in terms of open air spaces and the number of cafes, Foursquare data of these cities is needed. The venues information and their location information will be collected. Those would be enough to compare the cities in the scope explained. Because, when exploring the venues thorugh Forsquare data, one can reach both location and type of venues.

Let's start retrieving the necessary data.

First, define the credentials and some parameters.

In [1]:
CLIENT_ID = 'Deleted after run' 
CLIENT_SECRET = 'Deleted after run' 
VERSION = '20180605' 
LIMIT = 100

The coordinates are found online, and defined as below.

In [2]:
#coordinates of Manhattan
mn_latitude=40.730610
mn_longitude=-73.935242

#coordinates of San Francisco
sf_latitude=37.773972
sf_longitude=-122.431297

In [3]:
#Create the url's for the venues in Manhattan and San Francisco
url_mn = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    mn_latitude, 
    mn_longitude, 
    LIMIT)

url_sf = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    sf_latitude, 
    sf_longitude, 
    LIMIT)

In order to work on the data easily, convert the json data into pandas data frame.

In [4]:
#First import the neccessary libraries
import pandas as pd
import numpy as np
import requests

Create the dataframe for Manhattan

In [7]:
venues_list_mn=[]
results_mn = requests.get(url_mn).json()["response"]['groups'][0]['items']
# return only relevant information
venues_list_mn.append([(
    v['venue']['name'], 
    v['venue']['location']['lat'], 
    v['venue']['location']['lng'],  
    v['venue']['categories'][0]['name']) for v in results_mn])

man_venues = pd.DataFrame([item for venue_list_mn in venues_list_mn for item in venue_list_mn])
man_venues.columns = [
    'Venue', 
    'Venue Latitude', 
    'Venue Longitude', 
    'Venue Category']

man_venues.head(10)

,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Bantry Bay Publick House,40.735669,-73.934780,Bar
1,Alkemy,40.725925,-73.939136,Coffee Shop
2,Monsignor McGolrick Park,40.724546,-73.943654,Park
3,Goldie's,40.725632,-73.945146,Cocktail Bar
4,Diamond Lil,40.725412,-73.946000,Cocktail Bar
5,Vinnie's Pizzeria,40.725926,-73.941711,Pizza Place
6,The Henry Norman Hotel,40.727707,-73.944030,Hotel
7,Syrena Bakery,40.727435,-73.945619,Bakery
8,McGolrick Park's Down to Earth Farmers Market,40.724424,-73.943620,Farmers Market
9,Little Dokebi,40.723162,-73.942359,Korean Restaurant

Now, create the San Francisco dataframe

In [8]:
venues_list_sf=[]
results_sf = requests.get(url_sf).json()["response"]['groups'][0]['items']

# return only relevant information
venues_list_sf.append([(
    v['venue']['name'], 
    v['venue']['location']['lat'], 
    v['venue']['location']['lng'],  
    v['venue']['categories'][0]['name']) for v in results_sf])

sf_venues = pd.DataFrame([item for venue_list_sf in venues_list_sf for item in venue_list_sf])
sf_venues.columns = [
    'Venue', 
    'Venue Latitude', 
    'Venue Longitude', 
    'Venue Category']

sf_venues.head(10)

                 Venue  Venue Latitude  Venue Longitude      Venue Category
0        The Center SF       37.774545      -122.430730    Spiritual Center
1             Toronado       37.771941      -122.431223            Dive Bar
2   Church of 8 Wheels       37.774733      -122.430862         Roller Rink
3      Originals Vinyl       37.775835      -122.431227         Record Shop
4                Maven       37.771952      -122.432055        Cocktail Bar
5       Painted Ladies       37.776120      -122.433389       Historic Site
6  Réveille Coffee Co.       37.770978      -122.432029         Coffee Shop
7         Alamo Square       37.775881      -122.434412                Park
8      Wiggle Bicycles       37.770954      -122.432215           Bike Shop
9          Uva Enoteca       37.772011      -122.431556  Italian Restaurant